/** 
 * style.css
 * Contains CSS for basic static website named "White Graphics"
 */

/* =========================================
    Default Theme
    ----------------------------------------
    Fonts: Raleway & Montserrat
    ----------------------------------------
    Colors:
        Moon green:          #5c9320
        Grey:                #212226
        Blue:                #00596A
        White Smoke:         #f4f4f4
        White:               #fff
        Black:               #000   
============================================ */

/****************************************
            GENERAL
******************************************/
html, body{
    width: 100%;
    height: 100%;
}
h1,h2,h3,h4,h5,h6{
    font-family:'Raleway', sans-serif;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}
a,
a:focus,
a:hover{
    text-decoration: none;
}
section{
    background: #FFF;
}
/****************************************
            HELPER FUNCTIONS
******************************************/
.m-b-10{
    margin-bottom: 10px!important;
}
.m-b-20{
    margin-bottom: 20px!important;
}
.m-b-30{
    margin-bottom: 30px!important;
}
.m-b-40{
    margin-bottom: 40px!important;
}
.m-b-50{
    margin-bottom: 50px!important;
}
.m-t-70{
    margin-top: 70px!important;
}
}
/****************************************
            TWEAKING BOOTSTRAP
******************************************/


.no-gutter .col-md-3{
    padding: 0!important;
    margin: 0;
}
.row.no-gutter [class*=col-]{
    padding: 0;
    margin: 0;
}


/****************************************
            GENERAL BUTTONs
******************************************/
.btn-general{
    font-family: 'Raleway',sans-serif;
    border-radius: 30px;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0 6px;
    padding: 12px 46px;
    transition: all .5s;
}

.btn-green{
    color: #FFF;
    background-color: #5c9320;
}
.btn-green:hover,
.btn-green:focus{
    color: #FFF;
    background-color: #212226;
}

.btn-white{
    color: #212226;
    background-color: #FFF;
}
.btn-white:hover,
.btn-white:focus{
    color: #FFF;
    background-color: #212226;
}

.btn-gradient{
    color: #FFF;
    background-size: 200% auto;
    background-image: linear-gradient(to right, #5C9320 0%, #63C600 51%, #5C9320 100%);
}
.btn-gradient:hover,
.btn-gradient:focus{
    color: #FFF;
    background-position: right;
}

/****************************************
            CONTENT BOXES
******************************************/
.content-box-lg{
    padding: 120px 0;
}
.content-box-md{
    padding:100px 0;
}
.content-box-sm{
    padding:90px 0;
}

/****************************************
            GENERAL HEADINGS
******************************************/
.vertical-heading h5,
.horizontal-heading h5{
    color: #5c9320;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    word-spacing: 9px;
}

.vertical-heading h5{
    display: inline-block;
    transform: rotate(-90deg);
    position: relative;
    top: 60px;
    left: -55px;
}
.vertical-heading h2,
.horizontal-heading h2{
    font-size: 28px;
    font-weight: 100;
    line-height: 45px;
}
.vertical-heading h2{
    margin: 0 0 0 35px;
}
.highlight-heading{
    color: #5c9320;
    font-weight: 700;
}
.horizontal-heading{
    text-align: center;
}
.horizontal-heading h2{
    margin: 0;
}
.horizontal-heading{
    margin-bottom: 5px;
}

/****************************************
            HOME SECTION
******************************************/
#home{
    height: 100vh;
    background: none;
    
}
#home-bg-video{
    position: fixed;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;/*This is bcoz to help with overlay over the video*/
    background: url(../video/video.jpg) no-repeat cover;
}
#home-overlay{
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#home-content{
    width: 100%;
    height: 100%;
    display:table;
}
#home-content-inner{
    display: table-cell;
    vertical-align: middle;
}
#home-heading{
    color: #FFF;
    font-size: 5rem;
    font-weight: 100;
    text-transform: capitalize;
    margin: 0;
}
.colored-text{
    color: #5c9320;
    font-weight: 500;
}
#home-text{
    color: #FFF;
    font-size: 17px;
    font-weight: 100px;
    margin: 10px 0 30px 0;
}
#arrow-down{
    position: absolute;
    left: 50%;
    bottom: 20px;
    color: #FFF;
    font-size: 32px;
}
#arrow-down:hover,
#arrow-down:focus{
    color: #5c9320;
}


/****************************************
            ABOUT SECTION
******************************************/
#about-bottom img{
    margin: 0 auto;
}

#about-02{
    background: #F4F4F4;
}
.about-item{
    background: #FFF;
    padding: 80px 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
.about-item i{
    font-size: 42px;
}
.about-item h3{
    font-size: 24px;
    margin-bottom: 20px;
}
.about-item hr{
    width: 45px;
    background-color: #5c9320;
    height: 3px;
    margin: 0 auto 20px auto;
}
/*HOVER STATE*/
.about-item:hover{
    background-color: #5c9320;
    cursor: pointer;
/*
    transform-style: preserve-3d;
    transform: rotateY(180deg);
*/
}
.about-item:hover i,
.about-item:hover p,
.about-item:hover h3{
    color: #FFF;
}
.about-item:hover hr{
background-color: #FFF;
}

.about-item:hover i{
    transform: translateY(-20px);
}

/*SMOOTH TRANSITION*/
.about-item p,
.about-item h3{
    transition: all .4s linear;
}
.about-item,
.about-item i,
.about-item hr{
    transition: all .4s ease-in-out;
}
/****************************************
            LINE ICON SETTINGS
******************************************/
[class*='lni-']{
    display: inline-block;
/*    
    The Class Which : 
        '*' means lni- contains   &
        '^' means lni- starts with
*/
}

/****************************************
            TEAM SECTION
******************************************/
.team-member{
    position: relative;
}
.team-member:hover ..team-member-overlay{
    opacity: 1;
}
.team-member-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33,34,38,.9);
    overflow: hidden;
    opacity: 0;
    transition: all .3s linear;
}
.team-member-info{
    width: 100%;
    height: 100%;
    padding: 80px 0;
}
.team-member-info h5{
    color: #5c9320;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}
.team-member-info p{
    color: #FFF;
    font-weight: 200;
}
/****************************************
            SOCIAL ICONS
******************************************/
ul.social-icons{
    padding: 0;
}
ul.social-icons li{
    display: inline-block;
}
ul.social-icons li a{
    border: 1px solid #FFF;
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 100%;
    color: #FFF;
    transition: all .3s linear;
}
ul.social-icons li.fb-icon a:hover{
    background: #3B5998;
    border-color: transparent;
}
ul.social-icons li.twitter-icon a:hover{
    background: #00ACED;
    border-color: transparent;
}
ul.social-icons li.google-plus-icon a:hover{
    background: #DD4B39;
    border-color: transparent;
}

/****************************************
            OWL SLIDER
******************************************/
.owl-theme .owl-nav [class*=owl-]{
    color: #212226;
    font-size: 40px;
    background: none;
    margin: 0;
}
.owl-theme .owl-nav [class*=owl-]:hover{
    background: none;
    color: #5c9320;
}

/****************************************
            SKILLS
******************************************/
.skill h4{
    font-weight: normal;
}
.progress{
    height: 12px;
    border-radius: 50px;
    background-color: #EFEFEF;
    overflow: visible;
}
.progress-bar{
    background: #5c9320;
    background: linear-gradient(to right, #5c9320 0%, #63C600 51%, #5c9320 100%);
    border-radius: 50px;
    position: relative;
}

.progress-bar span{
    position: absolute;
    top:-40px;
    left: 95%;
    background: #212226;
    padding: 5px;
    font-family: "Montesrrat",sans-serif;
    font-weight: 300;
    text-align: center;
}
.progress-bar span:before{
    content: "";
    border-top: 8px solid #212226;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    position: absolute;
    top: 30px;
    left: 34%;
}

/****************************************
            STATEMENT SECTION
******************************************/
#statement{
    background: url('../img/tech/tech-statement.jpg') no-repeat fixed center;
    background-size: cover;
}
#statement .content-box-lg{
    background-color: rgba(0,0,0,.3);
}
#statement h3{
    color: #FFF;
    font-size: 28px;
    line-height: 45px;
}
#statement p{
    color: #5c9320;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

/****************************************
            SERVICES SECTION
******************************************/
/*SERVICE 01 SECTION*/
#services-01 img{
    margin: 80px 0;
}
.service .icon{
    font-size: 42px;
    transition: all .4s linear;
}
.service:hover .icon{
    color: #5c9320;
    transform: translateY(-20px);
}
.service h5{
    color: #5c9320;
    font-size: 12px;
    text-transform: uppercase;
    margin: 0 0 5px 0;
    transition: all .3s linear;
}
.service:hover h5{
    color: #212226;
}
.service h3{
    margin: 0 0 8px 0;
}
.service p{
    margin: 0;
    line-height: normal;
}

/*SERVICE 02 SECTION*/
#services-02{
    background-color: #F4F4F4;
}
#services-tabs ul li{
    padding: 5px 30px;
}
.service-tab img{
    width: 100%;
}
#services-tabs ul li.r-tabs-state-active a{
    color: #5c9320;
    font-weight: 700;
    border-bottom: 3px solid #5c9320;
    transition: border-color .3s linear;
}
#services-tabs ul li a{
    font-family: 'Raleway',sans-serif;
    font-size: 13px;
    color: #212226;
    text-transform: uppercase;
    font-weight: 500;
    padding-bottom: 5px;
    border-bottom: 3px solid transparent;
}
.service-tab .service-tab-bg{
    background-color: #FFF;
    padding: 50px 30px;
    height: 100%;
    min-height: 482px;
/*    position: relative;*/
}
.service-tab h2{
    font-size: 48px;
    color: #CCC;
    font-weight: 100;
    margin: 0 0 30px 0;
/*
    position: absolute;
    top: 0;
    left: 30px;
*/
}
.service-tab h3{
    font-size: 32px;
/*    margin: 30px 0;*/
}
.service-tab h2{
/*    margin: 30px 0;*/
}
.service-tab .col-md-6{
    padding: 0;
}

/*
.service-tab{
    background: #FFF;
}
*/
/****************************************
            PORTFOLIO SECTION
******************************************/
.portfolio-item{
    overflow: hidden;
    position: relative;
}
.portfolio-item img{
    transition: all .4s ease;
}
.portfolio-item-overlay{
    position: absolute;
    background-color: rgba(92,147,32,0.8);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    cursor: pointer;
    opacity: 0;
    transition: all .4s ease;
}

.portfolio-overlay-details{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}
.portfolio-overlay-details h3{
    margin: 0;
    color: #FFF;
    font-size: 30px;
    text-transform: uppercase;
    transform: translateY(-20%);
    transition: all .4s ease;
}
.portfolio-overlay-details span{
    display: inline-block;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    height: 6px;
    width: 30px;
    margin: 10px auto;
}
.portfolio-overlay-details p{
    font-size: 17px;
    color: #FFF;
    text-transform: capitalize;
    line-height: 0.5rem;
    margin: 0;
    padding: 0;
    transform:translateY(100%);
    transition: all .4s ease;
}

/*Portfolio Hover*/
.portfolio-item:hover img{
    transform: scale(1.2);
}
.portfolio-item:hover .portfolio-item-overlay{
    opacity: 1;
}
.portfolio-item:hover .portfolio-overlay-details p,
.portfolio-item:hover .portfolio-overlay-details h3{
    transform: translateY(0);
}

/*ISOTOPE FILTERS*/
#isotope-filters button{
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: none;
    outline: 0;
    background: transparent;
    padding-right: 35px;
}

#isotope-filters button span{
    display: block;
    padding-bottom: 5px;
    border-bottom: solid 3px transparent;
    transition: border-color .4s ease;
}
#isotope-filters button.active span{
    color: #5c9320;
    border-bottom: solid 3px #5c9320;
}



/****************************************
            LOADER
******************************************/

.loader{
    /*Make FullScreen*/
    width: 100%;
    height: 100%;
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    background: #5c9320;
    background: linear-gradient(to right, #5c9320 2%, #63C600 82%);
    z-index: 9999;
    
}
.loader-inner{
    position: absolute;
    top: 50%;
    left: 50%;
/*
    margin-top: -60px;
    margin-left: -60px;
*/
    transform: translate(-50%, -50%);
}
.loader span{
    width: 12px;
    height: 12px;
    background: #FFF;
    border-radius: 100%;
    display: block;
    position: absolute;
    opacity: 0;
    animation: load 5s ease-in-out infinite;
}
.loader-blocks{
    width: 60px;
    height: 60px;
}

.loader span.block-1{
    animation-delay: 1.06s;
    left: 0px;
    top: 0px;
}
.loader span.block-2{
    animation-delay: 0.97s;
    left: 16px;
    top: 0px;
} 
.loader span.block-3{
    animation-delay:0.88s;
    left: 32px;
    top: 0px;
}
.loader span.block-4{
    animation-delay:.79s;
    left: 48px;
    top: 0px;
}
.loader span.block-5{
    animation-delay: .70s;
    left: 0px;
    top: 16px;
}
.loader span.block-6{
    animation-delay: .61s;
    left: 16px;
    top: 16px;
}
.loader span.block-7{
    animation-delay:0.52s;
    left: 32px;
    top: 16px;
}
.loader span.block-8{
    animation-delay:.43s;
    left: 48px;
    top: 16px;
}
.loader span.block-9{
    animation-delay: .34s;
    left: 0px;
    top: 32px;
}
.loader span.block-10{
    animation-delay: 0.25s;
    left: 16px;
    top: 32px;
}
.loader span.block-11{
    animation-delay:0.16s;
    left: 32px;
    top: 32px;
}
.loader span.block-12{
    animation-delay:.07s;
    left: 48px;
    top: 32px;
}
.loader span.block-13{
    animation-delay: -0.02s;
    left: 0px;
    top: 48px;
}
.loader span.block-14{
    animation-delay: -0.11s;
    left: 16px;
    top: 48px;
}
.loader span.block-15{
    animation-delay:-0.20s;
    left: 32px;
    top: 48px;
}
.loader span.block-16{
    animation-delay:-0.29s;
    left: 48px;
    top: 48px;
}

@keyframes load{
    0%{
        opacity: 0;
        transform: translateY(-95px);
    }
    15%{
        opacity: 0;
        transform: translateY(-95px);
    }
    30%{
        opacity: 1;
        transform: translateY(0);
    }
    70%{
        opacity: 1;
        transform: translateY(0);
    }
    85%{
        opacity: 0;
        transform: translateY(95px);
    }
    100%{
        opacity: 0;
        transform: translateY(95px);
    }
}

























